<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <!-- CONNECTION TO LOCAL db_login -->
    <connectionString>
        <add name="connstrng" connectionString="Data Source=LAPTOP-BACU8D86\DEV;Initial Catalog=db_login;Integrated Security=True"/>
    </connectionString>
</configuration>